body {
    font-family: arial, sans-serif;
    font-size: 14px;
}
.top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10px;
}
.top-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 5px;
}
.top-left > div {
    margin: 0 10px;
    justify-content: space-around;
}
.top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin: 5px;
    margin-left: auto;
}
.top-right > div {
    margin: 0 10px;
    justify-content: space-around;
}
.element {
    margin: 0 10px;
    justify-content: space-around;
}
.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 150px;
}
.center > div {
    margin: 10px;
}
.bottom {
    display: flex;
    color: #70757a;
    background-color: #f2f2f2;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.bottom-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bottom-left > div {
    margin: 0 10px;
    justify-content: space-around;
}
.bottom-middle {
    display: flex;
    align-items: center;
}
.bottom-right {
    display: flex;
    justify-content: space-around;
}
.bottom-right > div {
    margin: 0 10px;
    justify-content: space-around;
}
.sign-in {
    background-color: #4285f4;
    border: none;
    color: white;
    /*font-weight: bold;*/
    border-radius: 4px;
    text-align: center;
    padding: 10px 20px;
}
.search-element {
    border: 1px solid #dfe1e5;
    border-width: 1px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.search-glass {
    opacity: 0.2;
}
.search-bar {
    border: transparent;
    border-width: 0px;
    border-radius: 20px;
    width: 450px;
    height: 20px;
    background-color: rgba(33 33 33 0.2);
    padding: 10px;
}
.search-button {
    border: transparent;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 10px 20px;
}
.search-button:hover {
    border: 1px solid #dfe1e5;
    border-color: #dfe1e5;
}